*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
    rgb(2, 9, 62), 
     rgba(91, 91, 240));
}


header{
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    text-align: center;
}

main section{
    display: inline-block;
    background-color: black;
    color: aliceblue;
    font-size: 45px;
    margin-right: 30px;
    border-radius: 20%;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn-1{
    margin-right: 30px;
    background-color: rgb(16, 188, 73);
    color: aliceblue;
    border-radius: 20px;
    padding: 15px;
}

#btn-2{
    background-color: rgb(233, 66, 66);
    color: aliceblue;
    margin-right: 30px;
    border-radius: 20px;
    padding: 15px;
}

#btn-3{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-right: 30px;
    border-radius: 20px;
    padding: 15px;
}

input:hover{
    cursor: pointer;
}